<div class="container">
	<form class="row" method="get" action="">
        <div class="col-xs-12">
            <h2>Godkjenning av kunstverk</h2>
        </div>

        <input class="hide" name="page" value="UKMbilder" />
        <input class="hide" name="action" value="uploadKunstverk" />
        <input class="hide" name="innslag" value="{{innslag.getId()}}" />
        <input class="hide" name="playback" value="{{playback.id}}" />

        <div class="form-group col-xs-12">
            <label>Tittel på kunstverket</label>
            <input type="text" name="name" class="form-control" disabled style="margin-bottom:0;" value="{{ innslag.getNavn() }}" data-form-type="other">
        </div>
        <div class="col-xs-12">
            <label>Beskrivelse</label>
            <textarea type="text" name="name" class="form-control" disabled style="color: #555; padding: 6px; margin-bottom: 0;" data-form-type="other">{{ playback.beskrivelse() }}</textarea>
        </div>

        {% if velgTittel %}
        <div class="col-xs-12">
            <br>
            <label>Velg kunstverk</label>
            <select name="tittel_id" id="t_id" class="form-control">
                {% for utstilling in innslag.getTitler().getAll() %}
                    <option value="{{ utstilling.getId() }}">
                        {{ utstilling.getNavn() }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        
        <div class="col-xs-6">
            <div style="margin: 20px 0">
                <img class="img-responsive" src={{imgPlaybackUrl}} />
            </div>
                <input class="btn btn-sm btn-ukm btn-success" type="submit" value="Godkjenn kunstverk" />

            <a href="?page=UKMplayback&delete_id={{playback.getId()}}&delete_b_id={{innslag.getId()}}" class="col-xl-12 btn btn-sm btn-ukm btn-danger">
                Slett kunstverk
            </a>
        </div>


        <div class="col-xs-12">
            <p class="mt-0 text-muted"><b>Godkjenn kunstverk</b> for å legge til kunstverket i det virtuelle kunstgalleriet.</p>
        </div>

    </form>
</div>