<ol class="list-group">
	{% for innslag in arrangement.getInnslag().getAll()|filter( innslag => innslag.getPlayback().getAntall() > 0) %}
		<li class="list-group-item">
			<b>{{innslag.getNavn()}}</b>
			<table class="table table-striped" style="border: 1px solid #ccc;">
				{% for playback in innslag.getPlayback().getAll() %}
					<tr>
						<td width="{{ arrangement.erKunstgalleri ? 60 : 65}}%">
							<a href="?page={{ GET('page') }}&action=edit&innslag={{innslag.getId()}}&id={{playback.getId()}}">
								{{playback.getNavn()}}
							</a>
							<br/>
							<small>{{playback.getFil()}}</small>
							{% if not playback.getBeskrivelse() is empty %}
								<br/>
								{{playback.getBeskrivelse()}}
							{% endif %}
						</td>
						<td width="{{ arrangement.erKunstgalleri ? 40 : 35}}%" style="text-align: right;">
							<img href="{{ playback.getUrl() }}"/>
							
						{% if arrangement.erKunstgalleri %}
							{% set imgPlaybackUrl = "#{playback.base_url}#{ playback.file_path }#{ playback.fil }" %}

							<img class="img-responsive" src="{{ imgPlaybackUrl }}" />
							<a href="?page={{ GET('page') }}&action=assignkunstverk&innslag={{innslag.getId()}}&id={{playback.getId()}}" class="btn btn-xs btn-ukm btn-success">
								godkjenn kunstverk
							</a>
						{% endif %}

							<a href="{{ playback.getUrl() }}" class="btn btn-xs btn-ukm btn-success" target="_blank">
								Last ned
							</a>
							{% if playback.getArrangementId() == arrangement.getId() %}
								<a href="?page={{ GET('page') }}&action=edit&innslag={{innslag.getId()}}&id={{playback.getId()}}" class="btn btn-xs btn-ukm">
									Rediger
								</a>
							{% endif %}
							{% if playback.getArrangementId() == arrangement.getId() %}
								<a href="?page=UKMplayback&delete_id={{playback.getId()}}&delete_b_id={{innslag.getId()}}" class="PBdel btn btn-xs btn-ukm btn-danger">
									Slett
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</li>
	{% else %}
		<li class="list-group-item">
			<p>Foreløpig har ingen innslag på ditt arrangement noen opplastede mediefiler eller dokumenter.
			<p>
			Til høyre på denne siden kan du laste opp en fil selv, eller trykke 
			<a href="?page={{GET('page')}}&action=request">etterspør filer</a> 
			hvis du vil at deltakeren selv skal sende inn filer.
			</p>
		</li>
	{% endfor %}
</ol>
